[Unit]
Description=Fix Rancher API route
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fix-rancher-api-route.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target